@media screen and (min-width: 560px) {
    #feature img {
        width: 30%;
        float: left;
    }

    #main-nav {
        display: flex;
        justify-content: center;
    }

    #main-nav ul {
        max-width: 960px;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

}

